@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-green-primary: #5ca47a;
  --font-display: "Open Sans", sans-serif;
}

:root {
  scroll-behavior: smooth;
}
